@font-face {
  font-family: HoeflerText-Regular;
  src: url(../fonts/HoeflerText-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: BradyBunchRemastered;
  src: url(../fonts/BradyBunchRemastered.ttf);
  font-weight: normal;
  font-style: normal;
}
